<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/profile/profile.css">
        <script src="https://kit.fontawesome.com/0cd43d1304.js" crossorigin="anonymous"></script>
        <title>Profile</title>
    </head>
    <body>
        <!--<div>
            <img src="img/profile.png" alt="logo">
        </div> -->
        <section class="profile">
            <div class="profileHead">
                <img src="img/FB_IMG_1593483223797.jpg" alt="">
                <div class="row">
                    <div id="profile-name">
                        <p><%= data.firstname %> <%= data.lastname %></p>
                    </div>
                    
                    <div id="current-balance">
                        <P>  CURRENT BALANCE : $<%= data.balance %> </P>
                       
                    </div>
                </div>
            </div>
        </section>

        <nav>
            <div class="navlist">
                <ul>
                    <li id="overview1"> <span id="overview1">Overview</span></li>
                    <li id="social1"> <span id="social1"> Social <i class="fa-solid fa-angle-right erase1"></i> </span> </li>
                    <li id="transition1"> <span id="transition1"></i> Transaction <i class="fa-solid fa-angle-right erase2"></i> </span> </li>
                    <li id="transfer1"> <span id="transfer1"></i> Transfer   <i class="fa-solid fa-angle-right erase3"></i></span></i></li>
                    <li id="profile1"> <span id="profile1"></i> Profile <i class="fa-solid fa-angle-right erase4"></i> </span> </li>
                    <li> <span> </i> Logout <i class="fa-solid fa-angle-right erase5"></i></span> </li>
                </ul>
            </div>
           
            <div class="dashboard">
                <div class="overview">
                    <h2> Overview of all Cards</h2>
                    <div class="dashlist">
                        <div class="balance">
                            <h3>Current Balance</h3>
                            <p style="color: white;"> $<%= data.balance %></p>
                        </div>
                        <div class="balance">
                            <h3>Income</h3>
                            <p style="color: rgb(62, 240, 62);">$<%= incoming %> </p>
                        </div>
                        <div class="balance">
                            <h3>Outcome</h3>
                            <p style="color: red;"> -$<%=outgoing %></p>
                        </div>
                    </div>
                </div>

                <div class="quick-transaction">
                    <h3>Quick Transaction</h3>
                    <div id="manual">
                        <i class="fa-solid fa-wallet"></i>
                        <p>Manual</p>
                    </div>
                    <div class="quickTransaction">
                        <div class="debit">
                            <img src="img/FB_IMG_1601187717621.jpg" alt="">
                            <p>John</p>
                        </div>
                        <div class="debit">
                            <img src="img/FB_IMG_1601187721893.jpg" alt="">
                            <p>Dan</p>
                        </div>
                        <div class="debit">
                            <img src="img/FB_IMG_1601187727093.jpg" alt="">
                            <p>Wilson</p>
                        </div>
                        <div class="debit">
                            <img src="img/FB_IMG_1601187730176.jpg" alt="">
                            <p>Cross</p>
                        </div>
                        <div class="debit">
                            <img src="img/FB_IMG_1601187750383.jpg" alt="">
                            <p>Lydia</p>
                        </div>
                        <div class="debit">
                            <img src="img/FB_IMG_1601187757947.jpg" alt="">
                            <p>Mia</p>
                        </div>
                        <div class="debit">
                            <img src="img/FB_IMG_1601187761360.jpg" alt="">
                            <p>Esther</p>
                        </div>
                        <div class="debit">
                            <img src="img/FB_IMG_1601187764944.jpg" alt="">
                            <p>Allison</p>
                        </div>
                    </div>
                </div>

                <div class="social" style="display: none;">
                    <h3> Airtime & Bills/Sport & Gaming </h3>
                    <div class="bills">
                        <ul>
                            <li ><a href="#"><i class="fa-solid fa-mobile-screen billsicon"></i>Mobile Topup</a></li>
                            <li ><a href="#"><i class="fa-solid fa-tv billsicon"></i>Cable TV</a></li>
                            <li ><a href="#"><i class="fa-solid fa-earth-africa billsicon"></i>Internet Service</a></li>
                            <li ><a href="#"><i class="fa-solid fa-wrench billsicon"></i>Utility</a></li>
                            <li ><a href="#"><i class="fa-solid fa-building-columns billsicon"></i>Insurance</a></li>
                            <li ><a href="#"><i class="fa-regular fa-futbol billsicon"></i> Lottery And Betting</a></li>
                        </ul>
                    </div>      
                </div>

                <div class="history" style="display: none;">
                    <div class="transition">
                        <h2>
                            Transaction
                        </h2>
                        <p>Recent Activities</p>
                        <ul>
                            <% all_transfers.forEach((transfer)=> { %>
                            <div class="time">
                                <div class="listli">
                                    <% if (transfer.sender === data.email) { %> 
                                        <li class="word"><%= transfer.receiver %></li>
                                         <li class="num" style="color: red;"> -$<%= transfer.amount %></lI>
                                     <% } else { %>
                                        <li class="word"><%= transfer.sender %></li>
                                        <li class="num" style="color: rgb(62, 240, 62);"> $<%= transfer.amount %></lI>
                                    <% } %>
                            
                                </div>
                                <p><%= transfer.timestamp %></p>
                            </div>
                            <% }) %>
                             
                        </ul>
                    </div>
                </div>
                <!-- end history-->

                <div class="transfer" style="display: none;">
                    <div class="transferdiv">
                        <h2>
                            Transfer Details
                        </h2>
                            <ul class="transferul">
                                <div class="transferlist">
                                    <li class="content">Receptant Name</li>
                                    <li><input class="test" type="text" name="Receptant Name"></li>
                                </div>
                                <div class="transferlist">
                                    <li class="content">Country</li>
                                    <li><input class="test" type="text" name="country"></li>
                                </div>
                                <div class="transferlist">
                                    <li class="content">Bank</li>
                                    <li><input class="test" type="text" name="bank"></li>
                                </div>
                                <div class="transferlist">
                                    <li class="content">Email</li>
                                    <li><input class="test"  type="text" name="email"></li>
                                </div>
                                <div class="transferlist">
                                    <li class="content">Amount</li>
                                    <li><input class="test" type="number" name="amount"></li>
                                </div>
                                <div class="transferlist">
                                    <li class="content">Pin</li>
                                    <li><input class="test"  type="password" name="password"></li>
                                </div>
                                <div class="transferbutton">
                                    <input id="transfer" type="button" value="Transfer" style="display: block;">
                                </div>

                            
                            </ul>
                    </div>
                </div>
                <!--End transfer-->

                <div class="managementdiv" style="display: none;">
                    <h3>Profile Managment</h3>
                    <ul>
                        <div class="managementlist">
                            <li><i class="fa-solid fa-arrow-rotate-right"></i> Change Password</li><i class="fa-solid fa-angle-right"></i>
                        </div>
                        <div class="managementlist">
                            <li id="edit-profile1"><i class="fa-solid fa-user-clock"></i> Edit Profile</li><i class="fa-solid fa-angle-right"></i>
                        </div>
                        <div class="managementlist">
                            <li><i class="fa-solid fa-bell"></i> Notifications</li><i class="fa-solid fa-angle-right"></i>
                        </div>
                        <div class="managementlist">
                            <li><i class="fa-solid fa-fingerprint"></i> Manage Biometrics</li><i class="fa-solid fa-angle-right"></i></li>
                        </div>
                    </ul>
                </div>
                <div class="profil-edit" style="display: none;">
                    <div id="profile-pic">
                        <h3>Profile Picture</h3>
                        <img src="img/FB_IMG_1593483223797.jpg" alt="">
                        <input id="open-modal" type="button" value="Open Modal">
                    </div>
                    <div id="profile-name-edit">
                        <h3>Profile Name</h3>
                        <div id="profile-name-button">
                            <p><%= data.firstname %> <%= data.lastname %></p>
                            <input id="profile-name-view" type="button" value="Edit Profile Name">
                        </div>   
                    </div>
                    <div id="submit-profile-name">
                    </div>
                </div>
                <div id="update-profile" style="display: none;">
                    <h3>Edit Profile Name</h3>
                    <div class="update-profile-name">
                        <div class="update-name">
                            <p>FirstName : <%= data.firstname %></p>
                            <div class="update-new-name">
                                <p>New FirstName:</p>
                                <input type="text" class="text-name" name="firstname">
                            </div>
                        </div>
                        <div class="update-name">
                            <p>LastName : <%= data.lastname %></p>
                            <div class="update-new-name">
                                <p>New LastName:</p>
                                <input type="text" class="text-name" name="lastname">
                            </div>
                        </div>
                    </div>
                    <button id="update-submit"> Submit</button>
                </div>

            </div>
        </nav>
        
        <div class="modal-bg">
            <div class="modal">
                <span id="cancel-upload">x</span>
                <form action="#" method="post" enctype="multipart/form-data">
                    <input type="file">
                    <input id="upload" type="submit" value="Upload"> 
                </form>
            </div>
        </div>

        
    
        <script src="js/profile.js"></script>
        <script src="js/profileauth.js"></script>
    </body>
</html>